:root {
  --menu-color: rgb(69, 81, 92);
  --menu-hover-color: rgb(56, 73, 90);
  --header-color: rgb(2, 77, 77);
  --nav-bg-color: rgb(3, 153, 153);
}

/* base html design start*/
body {
  margin: 0;
}
header {
  position: sticky;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.header-text {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  background-color: var(--header-color);
  color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  background-color: var(--nav-bg-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 5px;
}
li {
}
ul > li > a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--menu-color);
  transition: 0.5s;
  color: #fff;
}
ul > li > a:hover {
  background-color: var(--menu-hover-color);
  box-shadow: 0px 0px 15px rgb(217, 217, 217);
  border-radius: 10px;
}
/* base html design end */

.container {
  --max-weight: 1148px;
  --padding: 2rem;
  width: min(var(--max-weight), 100% - var(--padding));
  margin-inline: auto;
}

.entry-form {
  --max-weight: 600px;
  --padding: 2rem;
  width: min(var(--max-weight), 100% - var(--padding));
  /* width: 200px; */
  margin-inline: auto;
  color: #fff;
  background-color: var(--menu-color);
  box-shadow: 5px 5px 15px rgb(180, 177, 177);
  padding: 30px 20px 20px;
  transition: 0.5s;
  border-radius: 5px;
  margin-top: 20px;
}
.entry-form h1 {
  text-transform: capitalize;
  font-size: 40px;
}
.entry-form:hover {
  background-color: var(--menu-hover-color);
  box-shadow: 10px 10px 20px rgb(180, 177, 177);
  border-radius: 20px;
}
.entry-form:hover input[type="submit"] {
  border: 1px solid #ffffffa7;
}

.input-section h3 {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  margin: 5px 0px;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: auto;
  padding: auto;
}

input {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  margin: 5px 0px;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
}
input::placeholder {
  color: red;
  opacity: 0.6;
}
input[type="submit"] {
  background-color: rgb(32, 54, 74);
  border: none;
  margin-top: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  color: #fff;
}

input[type="submit"]:hover {
  background-color: rgb(6, 37, 66);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.table-header {
  --max-width: 700px;
  --padding: 2rem;
  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
  margin-top: 20px;
}
.table-header h2 {
  text-transform: capitalize;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  text-align: left;
  border-bottom: 1pt solid #000;
}
td > a {
  color: #000000;
}
td > a:hover {
  background-color: transparent;
}
th {
  background-color: var(--header-color);
  height: 30px;
  color: #fff;
}

tbody:hover {
  background-color: var(--nav-bg-color);
  cursor: pointer;
}

th:nth-child(2) {
  width: 90px;
}
.tm-hero img {
  max-width: 100%;
  height: auto;
}

.table-info {
  --max-width: 700px;
  --padding: 2rem;
  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
}
.table-section {
  height: auto;
  display: flex;
}
.table-level {
  width: 30%;
  margin: 0;
  padding: 0;
}
.table-details {
  width: 70%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}