{% extends 'base.html' %} {% load static %} {% block title %}All Records{% endblock title %} {% block templates %}

<div class="container">
  <div class="box-area">
    {% for x in data %}
    <a href="{% url 'userinfo' stdid=x.stu_id %}">
      <div class="box">
        <div class="box-img">
          <img src="{{ x.stu_img.url }}" alt="" />
        </div>
        <div class="box-text">
          <h3>{{ x.stu_id }} -- {{ x.stu_name }}</h3>
          <p>{{ x.stu_phone }}</p>
          <p>{{ x.stu_class }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock templates %}
