{% extends 'base.html' %} {% load static %} {% block title %}Entry Form{% endblock title %} {% block templates %}
<div class="container">
  <div class="entry-form">
    <form action="{% url 'update' stdid=usr.stu_id %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h1>Student entry form</h1>
      {% if usr %}
      <div class="input-section">
        <label for="stid">Student ID</label>
        <h3>{{ usr.stu_id }}</h3>
      </div>

      <div class="input-section">
        <label for="">Student Name</label>
        <input type="text" name="stdName" id="" required placeholder="Student Name" value="{{ usr.stu_name }}" />
      </div>

      {% comment %}
      <div class="input-section">
        <label for="">Student DOB</label>
        <input type="date" name="stdDOB" id="" required value="{{ usr.stu_dob }} " />
      </div>
      {% endcomment %}

      <div class="input-section">
        <label for="">Student Address</label>
        <input type="text" name="stdAdd" id="" placeholder="Student Address" value="{{ usr.stu_address }}" />
      </div>

      <div class="input-section">
        <label for="">Student Phone</label>
        <input type="text" name="stdPhone" id="" required placeholder="Student Phone" value="{{ usr.stu_phone }}" />
      </div>

      <div class="input-section">
        <label for="">Student emergency phone</label>
        <input type="text" name="stdEmPhone" id="" placeholder="Student emergency phone" value="{{ usr.stu_em_phone }}" />
      </div>

      <div class="input-section">
        <label for="">Student class</label>
        <input type="text" name="stdClass" id="" placeholder="Student class" value="{{ usr.stu_class }}"/>
      </div>

      <div class="input-section">
        <label for="">Student images</label>
        <img style="width: 200px" src="{{ usr.stu_img.url }}" alt="" />
        {% comment %} <input type="file" name="stdImg" id="" /> {% endcomment %}
      </div>
      {% endif %}
      <div class="input-section">
        <input type="submit" name="submit" id="" />
      </div>
    </form>
  </div>
</div>

{% endblock templates %}
