{% extends 'base.html' %} {% load static %} {% block title %}Entry Form{% endblock title %} {% block templates %}
<div class="container">
  <div class="entry-form">
    <form action="{% url 'save' %}" method="POST">
      {% csrf_token %}
      <h1>Student entry form</h1>
      <div class="input-section">
        <label for="stid">Student ID</label>
        <input type="number" name="stdID" id="stid" required placeholder="Student ID" />
      </div>

      <div class="input-section">
        <label for="">Student Name</label>
        <input type="text" name="stdName" id="" required placeholder="Student Name" />
      </div>

      <div class="input-section">
        <label for="">Student DOB</label>
        <input type="date" name="stdDOB" id="" required />
      </div>

      <div class="input-section">
        <label for="">Student Address</label>
        <input type="text" name="stdAdd" id="" placeholder="Student Address" />
      </div>

      <div class="input-section">
        <label for="">Student Phone</label>
        <input type="text" name="stdPhone" id="" required placeholder="Student Phone" />
      </div>

      <div class="input-section">
        <label for="">Student emergency phone</label>
        <input type="text" name="stdEmPhone" id="" placeholder="Student emergency phone" />
      </div>

      <div class="input-section">
        <label for="">Student class</label>
        <input type="text" name="stdClass" id="" placeholder="Student class" />
      </div>

      <div class="input-section">
        <input type="submit" name="submit" id="" />
      </div>
    </form>
  </div>
</div>
{% endblock templates %}
