{% extends 'base.html' %} {% load static %} {% block title %}Record{% endblock title %} {% block templates %}
<div class="container"><p>{{ msg }}</p></div>

<div class="container">
  <table>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>DOB</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Em Phone</th>
      <th>Class</th>
    </thead>
    {% for x in data %}
    <tbody>
      <td>{{x.stu_id}}</td>
      <td>{{x.stu_name}}</td>
      <td>{{x.stu_dob}}</td>
      <td>{{x.stu_address}}</td>
      <td>{{x.stu_phone}}</td>
      <td>{{x.stu_em_phone}}</td>
      <td>{{x.stu_class}}</td>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock templates %}
