{% extends 'base.html' %} {% load static %} {% block title %}Record{% endblock title %} {% block templates %}

<div class="table-header">
  <h2>{{ msg }}</h2>
  <hr />
  <table>
    <thead>
      <th>SL</th>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Class</th>
    </thead>
    {% for x in data %}
    <tbody>
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url 'userinfo' stdid=x.stu_id %}">SID--{{x.stu_id}} </a></td>
      <td>{{x.stu_name}}</td>
      <td>{{x.stu_address}}</td>
      <td>{{x.stu_phone}}</td>
      <td>{{x.stu_class}}</td>
    </tbody>
    {% endfor %}
  </table>
  <p>Total Records: {{ trow }}</p>
</div>
{% endblock templates %}
